.modal-content {
    border-top-right-radius: 5.5rem;
    border-bottom-left-radius: 5.5rem;
    /* border-left:2px solid #3931af;
    border-bottom:2px solid #00c6ff;
    border-right:2px solid #3931af;
    border-top:2px solid #00c6ff; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal-body input {
    width: 650px;
    height: 35px;
    color: #fff;
    /* background-color: #261bca; */
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    border: hidden;
    margin: 3px 2px;
    padding: 0 2rem;
    border-radius: 10px;
    font-size: 11pt;
    /* opacity: 0.7; */
}

.modal-body input::placeholder {
    font-style: italic;
    color: #fff;
    /* opacity: 0.7; */
    font-weight: lighter;
}

.modal-body button {
    text-align: center;
}
.modal-body td {
    padding: 1px 25px 1px 0;
    font-size: 11pt;
}
.modal-body p {
    font-size: 11pt;
}

select:optional {
    padding-left: 20px;
    opacity: 0.9;
}

.input-group-prepend {
    color: yellow;
}
.input-group-text {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: rgba(57, 58, 61, 0.815) 3px 3px 6px 0px inset, rgba(75, 74, 74, 0.445) -3px -3px 6px 1px inset;
    
}
.custom-select {
    border-radius: 0.5rem;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}